/* Ant Design CSS Custom */
.ant-select .ant-select-selector {
    background-color: rgba(255, 255, 255, 0.1) !important;
    border: none !important;
    padding: 20px 12px !important;
}

.ant-select-arrow {
    top: calc(50% + 4px) !important;
}

.ant-select-selection-placeholder {
    color: #B7B7B7 !important;
}

.ant-select-selection-item {
    color: white !important;
}

.ant-select-dropdown {
    background-color: rgba(3, 30, 70, 0.8) !important;
    padding: 0px !important;
}

.ant-select-item-option-content {
    color: #B7B7B7 !important;
}

.ant-select-item-option {
    border-radius: 0px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.ant-select-item-option-selected,
.ant-select-item-option-active {
    background: rgba(0, 117, 255, 0.8) !important;
}

.ant-select-item-option-active .ant-select-item-option-content,
.ant-select-item-option-selected .ant-select-item-option-content {
    color: white !important;
}

.ant-pagination-item {
    border-radius: 8px !important;
}

.ant-pagination-item:hover {
    background-color: #0075FF !important;
}

.ant-pagination-item-active {
    background-color: #0075FF !important;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.ant-pagination-item-active a {
    color: white !important;
}

.ant-pagination-item-link {
    color: white !important;
}

.ant-pagination-disabled .ant-pagination-item-link {
    color: #b7b7b7 !important;
}